:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', fantasy;

  --main-text-weight: 410;
  --title-text-weight: 715;

  --page-background-color: #ffffff;
  --accent-color: #000000;
  --text-color: #000000;
  --button-text-color: #ffffff;
  --animation-fill-color: #ff0000;
  --stroke-color: #ffffff;

  --content-width: clamp(375px, 100%, 700px);

  --page-background-image:
    url("../images/1.png"),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
